@import "src/constants/vars";
.App {
  text-align: center;
  min-height: 100vh;
  background-color: $black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;

  img {
    height: 80px;
  }
  h2 {
    color: $main-font-color;
    text-transform: uppercase;
  }
}

.App-link {
  color: $main-font-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    border: 1px solid #61dafb;
    padding: 15px;
    background: transparent;
    color: #61dafb;
    border-radius: 30px;
    text-transform: uppercase;
    width: 230px;
    margin: 10px;
    cursor: pointer;
    outline: none;

    &:hover {
      box-shadow: 3px 3px 8px rgba(#61dafb,.2);
    }
  }
}

.c-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($black, .8);
  }

  .c-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 40vh;
    width: 40vw;
    background: white;
    border-radius: 10px;
    padding: 20px;
  }

  header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h2 {
      text-transform: uppercase;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: $black;
      height: 30px;
      width: 30px;
      border: none;
      box-shadow: 0 2px 5px rgba($black,.2);
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      font-size: 0;

      &:before {
        content:'';
        display: block;
        position: absolute;
        height: 2px;
        border-radius: 2px;
        background: white;
        width: 15px;
        transform: rotate(45deg);
      }
      &:after {
        content:'';
        display: block;
        position: absolute;
        height: 2px;
        border-radius: 2px;
        background: white;
        width: 15px;
        transform: rotate(-45deg);
      }


    }
  }

  .modal-add-city {

  }
  .modal-add-road {

  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
      border: 1px solid $black;
      padding: 15px;
      background: transparent;
      color: $black;
      border-radius: 30px;
      text-transform: uppercase;
      width: 200px;
      margin: 10px;
      cursor: pointer;
      outline: none;

      &[type="submit"] {
        border: 1px solid $black;
        background: $black;
        color: #FFF;
      }
    }
  }


}

.canvas {
  h2 {
    color: white
  }
  & > div {
    margin: 40px 10px 10px 10px;
    background: radial-gradient(#3F51B5, transparent);
  }
}

form {
  .c-styled-form-field {
    input {
      border: 1px solid $black;
      padding: 15px;
      background: transparent;
      color: $black;
      border-radius: 30px;
      text-transform: uppercase;
      width: 300px;
      margin: 20px;
      outline: none;
    }

    select {
      border: 1px solid $black;
      padding: 15px;
      background: transparent;
      color: $black;
      border-radius: 30px;
      text-transform: uppercase;
      width: 140px;
      display: inline-block;
      margin: 20px;
      height: 45px;
      outline: none;
    }
  }
  .select-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
